<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div>
        <div>
            <a href="/">← Back</a>
        </div>
        <div class="artist_Container">
            <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}">
            <p>{{.Artist.Name}}</p>
            {{range .Artist.Members}}
            <p>{{.}}</p>
            {{end}}
            <p>{{.Artist.CreationDate}}</p>
            <p>{{.Artist.FirstAlbum}}</p>
            {{range $location, $dates := .Relations.DatesLocations}}
            <p>{{$location}}: </p>
            {{range $dates}}
            <p>
                {{.}} 
            </p>
            {{end}}
            {{end}}
            
        </div>
    </div>
</body>
</html>